body{
	font-size: 16px;
	color: #fff;
	background-color: #4d4848; /*dark gray*/
	font-family: 'Oxgen', sans-serif;
	max-width: 100%;
	overflow-x: hidden;
}
#header-nav{
border: 0;
border-radius: 0;
background-color: white;
}
#logo-img{
/*background: url("/home/rawan/mywebsite/images/logob.png") no-repeat;*/



background: url("/home/rawan/intern_test/logod2.jpg") no-repeat;
width: 230px;
height: 100px;
margin: 0px 15px 0px 0px;
}

.navbar-brand{
padding-top: 25px;
}
.navbar-brand h1{ /* resturant name */
font-family: 'Lora', serif;
font-size: 1.5em;
color: #0c9c2f;
text-shadow: 1px 1px 1px #222;
font-weight: bold;
line-height: .75;
/*text-align: center;*/
width: 100%;
padding: 10px 0px 10px 140px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	
}

#nav-list{
	margin-top: 10px;

}
#nav-list a {
	color: green;
	text-align: center;
	font-weight: bold;

}
#nav-list a:hover {
	background: #E7E7E7;
}
#nav-list a span {
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #000;

}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}
/*end header*/

.carousel-caption h2{
	margin-bottom: 10px;
/*	margin-left: 30px;*/
padding-right: 280px;
font-weight: bold;
font-style: inherit;
font-size: 2em;
color: #000;


}
.carousel-caption h4 {
	
	margin-bottom: 10px;
/*	margin-left: 30px;*/
padding-right: 280px;
font-style: inherit;
font-size: 1em;
color: #000;
}


.form-container{
	background: #fff;
	padding: 30px;
	border-radius: 10px;
/*	box-shadow: 0 0 10px 0 #000;*/
   color: #000;
   text-align: left;
	width: 40%;
	float: right;
	position: relative;
}
.carousel-caption h5{
	margin-bottom: 280px;

 padding-right: 280px;
 font-style: inherit;
 font-size: 1em;
 color: #000;
}


.carousel-caption p {
	margin-bottom: 300px;
/*	margin-left: 30px;*/
   padding-right: 280px;
   margin-top: 0px;
/*font-style: inherit;
font-size: 1em;
color: #000;*/
}

button{
	width :180px;
	height: 40px;
	margin: auto;
	background-color: green;
	border-radius: 50px;
	font-size: 14px;
	border: 1px green;
	/*box-shadow: 0px 1px 2px 1px #cccccc;*/
	color: #fff;

}

/*footer*/
.panel-footer{
	margin-top: 25px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}
.panel-footer span{
	text-align: center;
	/*margin: 10px 50px 10px 50px;*/
	padding: 5px  0px 10px 600px;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.8;
}
.panel-footer div.row{
	margin-top: 25px;
}

#hours, #address{
	line-height: 2;
}
/*.container > span{
	font-size: 1.3em;
	*/
}
#address p {
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}
#testimonials{
	font-style: inherit;
	font-size: 16px;
	margin: auto;
	text-align: center;

}
#testimonials p:nth-child(2){
	margin-top: 5px;
	font-weight: bold;
}
#testimonials p:nth-child(6){
	margin-top: 35px;
	margin-left: 100px;
	padding-top: 20px;
	border: 1px solid #fff;
	width: 250px;
	height: 100px;
	text-align: center;


	
}




/*end footer*/
/*home page*/

.container .jumbotron{
box-shadow: 0 0 50px #d4172d;
border: 2px solid #d4172d;
}
#menu-tile, #specials-tile, #map-tile{
	height: 400px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #910616;
	overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{

	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile{
	background: url("/home/rawan/mywebsite/images/menu4.jpg") no-repeat;

	background-position: center;
}
#specials-tile{
	background: url("/home/rawan/mywebsite/images/speciales1.jpg") no-repeat;
	background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
     position: absolute;
     bottom: 0;
     right: 0;
     width: 100%;
     text-align: center;
     font-size: 1.6em;
     text-transform: uppercase;
     background-color: #000;
     color: #fff;
     opacity: .8;
}

/*end home page*/

/*menu categories page*/
.Category-tile{
	position: relative;
	border: 2px solid #d4172d;
	overflow: hidden;
	width: 250px;
	height: 250px;
	margin: 0 auto 15px;
}
.Category-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
.Category-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title{

	font-size: 25px;
}
#menu-categories-title + div {
	margin-bottom: 50px;
	font-size: 15px;
   

}
/*end menu categories*/
/*single item page*/
.menu-item-tile{
	margin-bottom: 35px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

.menu-item-tile hr{
	width: 80%;
}
.menu-item-photo{
	position: relative;	
	/*border: 2px solid #d4172d;*/
	overflow: hidden;
	padding: 0;
	margin-right: 30px;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	/*max-width: 80px;*/
	width:64px;
	height: 64px;
}
.menu-item-photo:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
	width:80px;
	height: 80px;
}
.menu-item-photo div{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #000;
	text-align: center;
}
.menu-item-description {
   padding-right: 40px;
  margin-right: auto;
  margin-left: -50px;

}
h3.menu-item-title{
	margin: 0 0 10px;
}
.menu-item-details{
	font-size: .8em;
	font-style: italic;
}



